absl-py
astunparse
blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
et_xmlfile
Flask
flatbuffers
fonttools
gast
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2
joblib
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
namex
numpy
openpyxl
opt_einsum
packaging
pandas
pillow
protobuf
Pygments
pyparsing<3.1
python-dateutil
pytz
requests
rich
scikeras
scikit-learn
scipy
seaborn
six
tensorboard
tensorflow==2.18.0
termcolor
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
gunicorn
Flask-CORS
